
@font-face {
    font-family: 'Gotham Pro Light';
    src: url('GothamPro-Light.eot');
    src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('GothamPro-Light.woff') format('woff'),
    url('GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #f2f2f2;
    width: 100vw;
    box-sizing: border-box;
    
}   
#color{
    color: #f2f2f2;
}
#dot{
    background: #f2f2f2;
    margin-top: 10px;s
}
.navbar{
    background: #262626 !important;
}
#button1{
    width: 130px;
  height: 36px;
  border-radius: 4px;
  background-color: #eec643;
  color: white;
  font-size: 15px;
}
#jumb{
    background: #181818;
}
#text_jumb{
    margin-top:20%; 
    color:white;
}
#text_jumb2{
    color:#ebb430;
}

#text1{
    color: white;
}
#button2 {
border: none;
color: green;
width: 100px;
height: 36px;
border-radius: 4px;
background-color: #262626;   
text-align: center;
text-decoration: none;
display: inline-block;
}
.navbar-nav {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    background:#262626;
    
}
#digit{
    margin-top: 80px;
}
.clearfix{
    background:#ffffff;
}
#clearfix{
    background:#ffffff;
}
.navbar-nav li {
    float: none ;
    display: inline-block;
    background:#262626;
}
header{
    width: 100%;
    background:#262626;
}
header nav{
    width: 90%;
    margin: 0 auto;   
}
#recHR {
  margin-left: 3px; 
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top:3px;
  margin-bottom: 3px;
}
ul li{
    font-size: 12px;
}
.imgs{
    flex-flow: row wrap;        
    width: 60%;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}
.jumbotron{
    margin: 0px;
    padding: 0px;
    background:#181818;
}
.jumbotron_container{
    width: 90%;
    margin: 0 auto;
}
.section-header22{
    background: #ffffff;
}
.section_title{

}
#photo_iphone{
    margin-top:5vw;
}

.logos .p-4{
    padding: 15px !important;
    height: 65px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.logos{
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.logos p{
    float: right;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}


@media ( min-width: 850px ){
    .logos p{
        display: none;
    }

    .logos .p-4{    
        width: 125px;
        margin: 0;
    }
    
    .logos{
        flex-direction: row; 
    }

}

@media ( min-width: 1200px ){
    .logos p{
        display: inline-block;
        padding: 5px 10px 5px 10px;
        font-size: 8px;
    }

    .logos .p-4{    
        width: 170px;
        margin: 0;
    }
    
    .logos{
        flex-direction: row; 
    }

}

.icons{
    background: #ebb430;
    text-align:  center;
    padding: 30px;
}
.main_text{
    text-align: center;
}

.icons img{
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons p{
    margin-top: 20px;
}
.problems{
    background: #ffffff;
    text-align:  center;
    padding: 30px;
    padding-top: 80px;
}

.problems .row{
    width: 90%;
    margin: 0 auto;
}

.problems .first{
    margin-top: 30px;
    margin-bottom: 80px;
}

.problems p{
    margin-top: 30px;
}
.problems h5{
    margin-top: 30px;
}
.problem{
    padding: 10px;
    color: grey;
}

.problems .active{
    border-top: 2px solid #ebb430;
    color: black;
}
.reshenye{
    margin-top: 25px;
    position: relative;
    height: 258px;
    background: #f2f2f2;
    text-align: left;
    padding: 30px 50px 0 70px;
}
.reshenye p{
    font-size: 20px;
}
.reshenye img{
    position: absolute;
    top: 40px;
    left: 30px;
}

.reshenye h1{
    font-size: 34px;
}

@media(min-width: 1005px){
    
    .image{
        display: block;
        margin: 0 auto;
    }

    .reshenye{
        width: 700px;
        margin: 0 auto;
    }
}
.podd h5{
    font-size: 28px;
}
.podd{
    text-align:  center;
    padding-top: 80px;
}
.podd .row{
    width: 90%;
    margin: 0 auto;
}

.podd h1{
    font-size: 28px;
}
.podd_item{
    width: 370px;
    height: 187px;
    background: #ffffff ;
    margin-left: 30px;
    margin-top: 15px;
}
.podd img{
    display: inline;
    margin-top: 20px;
    margin-right: -100px;
}
.podd p{
    font-size: 28px;
    display: inline;
    margin-top: 33px;
}
.podd button{
    width: 310px;
    height: 56px;
    border-radius: 4px;
    margin-top: 20px;
}
.line{
    display:flex;
    margin-top: 85px;
}
.kvest{
        margin: 0;
        padding: 0;
        background: #181818;
}
.kvest .kvest1{
    padding: 15px !important;
    height: 65px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}
#text-soz1{
    background: #ffffff;
}


#text-soz2{

}

